/.sans titre
/.UNTITLED.IMD
/dist
/example.vtk
/PRVW00066.vtk
/rien.py
/setup_py2exe.py
/test_vtk.py
/test.py
/toto._tri.obj
/toto.obj
/complex.stl
/cube.stl
/cube10.stl
/ktoolcav.stl
/ship.stl
/tata.imd
/toto.imd
/stl
